/* General */

* {
    box-sizing: border-box;
}


$color-main: #131313;
$color-red: #CF383E;
$color-white: #fff;
$color-grey: #BFBFBF;




body{
    background-color: $color-main;    
}

/* Section music header */

.music__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
    z-index: 2;
}

.layer{
    position: absolute;
    top: 180px;
}


.music-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $color-white;
   
}


img {
    max-width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
}
.title {
    left: 40px;
    top: -10px;
    position: relative;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 200px;
    font-weight: 400;
    letter-spacing: 120px;
    text-transform: uppercase;
    text-shadow: 0 0 118px rgba(0, 0, 0, 0.39);
    color: $color-white;
    z-index: 2;
}

.subtitle {
    width: 181px;
    height: 169px;
    color: $color-white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 10.8px;
    line-height: normal;
    position: relative;
    top: -10px;
    right: 10px;
    z-index: 2;
}

/* Navigation */

 .navbar {
   justify-content: center;
   position: relative;
   
  font-family: 'Source Sans 3 SemiBold 600', sans-serif;
  font-size: 30px;
   font-weight: 400;
   text-align: center;
    color: #ffffff;
   font-style: normal;
    letter-spacing: 2.25px;
  line-height: normal;
  z-index: 2;
 
    
}
.navbar a{
     font-family: 'Source Sans 3 SemiBold 600', sans-serif;
  font-size: 30px;
   font-weight: 400;
   text-align: center;
    color: #ffffff;
   font-style: normal;
   padding: 30px;
   text-decoration: none;
}



.songs{
    
    
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

 


.player{
    
    margin-top: 10px;
    margin-left: 430px;
    width: 400px;
    
 
    
    
}

audio {
    display: none;
}

.play-pause-btn {
    height: 18px;
    width: 18px; 
    
}

.green-audio-player .controls .controls__slider .controls__progress .progress__pin {
    background-color: red;
}



  

.song-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
   
    
    
}
.song-container h3 {
    color: $color-white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center; 
}

#song-view{
    margin-top: 50px;
   
    
}




/* Subscribe */

.subscribe-box {
    margin-top: 120px;
    background-image: url('../images/subscribe.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}



.subscribe-box h1{
    top: -100px;
    left: 100px;
    position: relative;
   
    width: 966px;
    height: 69px;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
   
}



.subscribe{
    color: $color-white;
    border-style: none;
    width: 240px;
    height: 80px;
    padding: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 8px;
    line-height: normal;
    text-align: center;
    background-color: $color-red;
    border-radius: 7px;
    position: relative;
    right: 360px;
    top: -150px;
}


.image-artist{
 
box-shadow: 0 0 118px 24px rgba(0, 0, 0, 0.39);
position: relative;
margin-left: 590px;
margin-top: -40px;

}

.image-artist img{

width: 365px;
height: 470px;
box-shadow: 0 0 118px 24px rgba(0, 0, 0, 0.39);
position: relative;

}

.description{
    margin-top: 200px;
    margin-left: 150px;
    position: absolute;
     color: white;
}



.description h2{


text-shadow: 0 0 118px rgba(0, 0, 0, 0.11);
color: #ffffff;
font-family: 'Source Sans 3', sans-serif;
font-weight: 700;
font-size: 100px;
letter-spacing: 20px;
text-align: left;
line-height: normal;
font-style: normal;
z-index: 2;
position: relative;
}

h2 .son{
    color: $color-red;
}



.henson {
    margin-top: -50px;
    margin-left: 70px;
}


/* Footer */
.footer-text{
width: 321px;
height: 18px;
color: #ffffff;
font-family: 'Source Sans 3', sans-serif;
font-size: 20px;
font-weight: 400;
text-align: center;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
position: relative;
left: 40%;
padding: 20px 0 40px 0;
}

#pages > section {
    display: none;
    &.active {
        display: block;
    }
}


#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
  
  
  .form-row {
    display: flex;
    gap: 10px;
    max-width: 1000px;
    width: 100%;
  }
  
  input[type="text"],
  select {
    flex-shrink: 0;
    padding: 10px;
    height: 60px;
    width: 355px;
    border-radius: 7px;
    font-size: 16px;
    border: 1px solid $color-grey;
    
  }
  
  
  
  .button-container {
    display: flex;
    justify-content: center;
    margin-top: 40px;
    margin-left: 100px;
  }
  
  button {
    background-color: #CF383E;
    color: white;
    font-size: 18px;
    position: absolute;
    position: relative;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    min-width: 130px;
    min-height: 60px;
    letter-spacing: 3px;
    margin-left: -50px;
    
    &:hover {
      background-color: darken(#CF383E, 10%);
    }
  }
}

#search-wrapper h3{
    font-size: 40px;
  margin-left: 630px;
  margin-top: 40px;
  color: $color-grey;
    font-size: 40px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
        letter-spacing: 15px;

}

#search-form h4{
    color: #BFBFBF;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    font-size: 22px;
    letter-spacing: 5px;
    margin-top: 10px;
}

 #search-results {
    margin-left: 100px;
    display: flex;
 }

 #search-results h3{
    margin-left: 400px;
    letter-spacing: 2px;
    font-size: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 600;
    color: $color-white;
 }

 #search-results .song-details {
    margin-left: 350px;
 }


 


.song-details {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    margin-top: 20px;
    font-family: "Source Sans 3", sans-serif;
    font-size: 14px;
    line-height: 1.7;
    font-weight: 300;
    margin-left: -100px;
    
}


#song-categories {
    flex: 1;
    
    width: 300px;
}


.song-ranking {
    margin-left: auto;
}


#song-ranking {
    margin-left: -200px;
}




.hidden {
    display: none;
}



@media (max-width: 992px) {
    .navbar {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .song-container {
        text-align: center;
    }

    
    .player,
    .audio-player {
        margin: 10px 0;
        padding: 10px;
    }

    
    .audio-player {
        display: flex;
        justify-content: center;
    }

    .subscribe-container {
        text-align: center;
        margin-top: 20px; 
    }

    
    .title, .layer {
        text-align: center;
    }

    
    .title {
        font-size: 70px;
        letter-spacing: 45px;
        margin-left: -30px; 
    }

    
    .subtitle {
        font-size: 24px; 
    }

    
    .layer img {
        width: 100%;
        margin-top: 470px; 
    }

    #search-wrapper {
        margin-top: 20px; 
    }

    
    #search-wrapper h3,
    #search-form,
    #search-results {
        text-align: center;
        
    }

    
    #search-form,
    #search-results {
        margin-top: 20px;
        
         
    }

    #search-results {
        margin-left: 10px;
    }
    
    #search-results .song-details {
        margin-left: -50px;
    }

    #search-results h3 {
        margin-left: 10px;
    }

    #search-form .form-row {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        margin-left: 20px; 
    }

   
    #search-form input[type="text"],
    #search-form select {
        width: 80%;
        margin: 10px 0 0 50px;
        padding: 20px; 
    }

    .subscribe-box {
        margin-top: 170px;
        height: auto; 
    }

    .subscribe-box h1 {
        font-size: 50px;
        line-height: 1.2;
        margin-top: 70px;
        margin-left: 410px; 
    }

    .subscribe {
        width: 180px;
        height: 60px;
        font-size: 24px;
        letter-spacing: 5px;
        top: -50px;
        right: 80px; 
    }

    .description h2 {
        font-size: 50px;
        letter-spacing: 15px;
        margin-left: 20px;
        line-height: 1.7; 
    }

   
    
    .footer {
        margin-left: -200px;
    }
}

#discover {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 0;
  background-color: $color-main;
  color: $color-white;
}

#discover .section-title {
  font-size: 40px;
  margin-left: 600px;
  color: $color-grey;
    font-size: 40px;
    font-family: "Source Sans 3", sans-serif;
    font-weight: 700;
        letter-spacing: 15px;

}

#discover .section-subtitle {
  font-size: 20px;
  margin-left: 680px;
}

.discover-playlist-wrapper {
  margin-top: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.discover-song {
  display: flex;
  align-items: center;
  background-color: $color-white;
  padding: 20px;
  margin: 10px 0;
  border-radius: 7px;
  cursor: pointer;
  margin-left: 10px;
}

.discover-song audio {
  width: 100%;
}