/* General */

* {
    box-sizing: border-box;
}

.container {
     max-width: 1140px;
      
}

$color-main: #131313;
$color-red: #CF383E;
$color-white: #fff;
$color-grey: #BFBFBF;




body{
    background-color: $color-main;    
}

/* Section music header */

.music__header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../images/background.png');
    background-size: cover;
    background-position: center center;
    z-index: 2;
}

.layer{
    position: absolute;
    top: 180px;
}


.music-navigation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: $color-white;
   
}


img {
    max-width: 100%;
    height: auto;
    z-index: 0;
    position: relative;
}
.title {
    left: 40px;
    top: -10px;
    position: relative;
    padding: 0;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 200px;
    font-weight: 400;
    letter-spacing: 120px;
    text-transform: uppercase;
    text-shadow: 0 0 118px rgba(0, 0, 0, 0.39);
    color: $color-white;
    z-index: 2;
}

.subtitle {
    width: 181px;
    height: 169px;
    color: $color-white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 36px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 10.8px;
    line-height: normal;
    position: relative;
    top: -10px;
    right: 10px;
    z-index: 2;
}

/* Navigation */

 .navbar {
   justify-content: center;
   position: relative;
   
  font-family: 'Source Sans 3 SemiBold 600', sans-serif;
  font-size: 30px;
   font-weight: 400;
   text-align: center;
    color: #ffffff;
   font-style: normal;
    letter-spacing: 2.25px;
  line-height: normal;
  z-index: 2;
 
    
}
.navbar a{
     font-family: 'Source Sans 3 SemiBold 600', sans-serif;
  font-size: 30px;
   font-weight: 400;
   text-align: center;
    color: #ffffff;
   font-style: normal;
   padding: 30px;
   text-decoration: none;
}



.songs{
    
    
    
    justify-content: center;
    align-items: center;
    flex-direction: column;
   
}

 


.player{
    
    margin-top: 10px;
    margin-left: 350px;
    width: 400px;
    
 
    
    
}

audio {
    display: none;
}

.play-pause-btn {
    height: 18px;
    width: 18px; 
    
}

.green-audio-player .controls .controls__slider .controls__progress .progress__pin {
    background-color: red;
}



  

.song-container {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    
}
.song-container h3 {
    color: $color-white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 20px;
    margin: 10px 0;
    text-align: center; 
}

#song-view{
    margin-top: 50px;
    
}


/* Subscribe */

.subscribe-box {
    margin-top: 120px;
    background-image: url('../images/subscribe.png');
    background-size: cover;
    background-position: center center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;


}



.subscribe-box h1{
    top: -100px;
    left: 100px;
    position: relative;
   
    width: 966px;
    height: 69px;
    color: #ffffff;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 100px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: normal;
    line-height: 27px;
    text-align: left;
    text-transform: uppercase;
   
}



.subscribe{
    color: $color-white;
    border-style: none;
    width: 240px;
    height: 80px;
    padding: 10px;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 30px;
    font-weight: 700;
    text-transform: uppercase;
    font-style: normal;
    letter-spacing: 8px;
    line-height: normal;
    text-align: center;
    background-color: $color-red;
    border-radius: 7px;
    position: relative;
    right: 360px;
    top: -150px;
}


.image-artist{
 
box-shadow: 0 0 118px 24px rgba(0, 0, 0, 0.39);
position: relative;
margin-left: 590px;
margin-top: -40px;

}

.image-artist img{
/* Style for "Warstwa 15" */
width: 365px;
height: 470px;
box-shadow: 0 0 118px 24px rgba(0, 0, 0, 0.39);
position: relative;

}

.description{
    margin-top: 200px;
    margin-left: 150px;
    position: absolute;
     color: white;
}



.description h2{


text-shadow: 0 0 118px rgba(0, 0, 0, 0.11);
color: #ffffff;
font-family: 'Source Sans 3', sans-serif;
font-weight: 700;
font-size: 100px;
letter-spacing: 20px;
text-align: left;
line-height: normal;
font-style: normal;
z-index: 2;
position: relative;
}

h2 .son{
    color: $color-red;
}



.henson {
    margin-top: -50px;
    margin-left: 70px;
}


/* Footer */
.footer-text{
width: 321px;
height: 18px;
color: #ffffff;
font-family: 'Source Sans 3', sans-serif;
font-size: 20px;
font-weight: 400;
text-align: center;
font-style: normal;
letter-spacing: 4px;
line-height: normal;
position: relative;
left: 40%;
padding: 20px 0 40px 0;
}

#pages > section {
    display: none;
    &.active {
        display: block;
    }
}

#search-form {
    color: $color-white;
    position: relative;
    margin-left: 550px;
}
#search-results{
margin-top: 10px;
position: relative;
margin-left: 100px;
    justify-content: center;
    width: 400px;
}
    
    .category-link{
        color: white;
    }

 


 

/* Przesunięcie kategorii na lewo, a rankingu na prawo */
.song-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: $color-white;
    font-family: 'Source Sans 3', sans-serif;
    font-size: 16px;
    margin-top: 120px;
}


#song-categories {
    flex: 1;
    margin-left: -200px;
    width: 300px;
}


.song-ranking {
    margin-left: auto;
}


.song-details p {
    margin: 0;
    margin-left: 15px; 
}


